{% extends "base.html" %}
{% block content %}
    <div>
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>

    <script>
      const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: {{ labels | safe }},
          datasets: [{
            label: 'Heating time',
            data: {{ values | safe }},
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>
{% endblock %}