{% extends "base.html" %}

{% block content %}
  <hr>
  <table id="heating-data" class="table table-striped">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Aktualna temperatura</th>
        <th>Odświeżona</th>
        <th>Zadana temperatura</th>
        <th>Grzanie</th>
        <th>Start grzania</th>
      </tr>
    </thead>
    <tbody>
      {% for location in locations %}
        <tr>
          <td>{{ location.name }}</td>
          <td>{{ location.temperature }}</td>
          <td>{{ location.last_update }}</td>
          <td>{{ location.required_temperature }}</td>
          <td>{{ location.heating }}</td>
          <td>{{ location.heating_started }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <hr>
    <table id="outdoor-data" class="table table-striped">
      <thead>
        <th></th>
        <th>Aktualna temperatura</th>
        <th>Wilgotność</th>
        <th>Ciśnienie</th>
        <th>Stan baterii</th>
        <th>Ostatnia aktualizacja</th>
    </thead>
      <tbody>
      <tr>
        <td>Temperatura na zewnątrz</td>
        <td>{{ outdoor_data.temperature }}</td>
        <td>{{ outdoor_data.humidity }}</td>
        <td>{{ outdoor_data.pressure }}</td>
        <td>{{ outdoor_data.battery }}</td>
        <td>{{ outdoor_data.last_updated }}</td>
      </tr>
      </tbody>
    </table>
  <hr>
  <hr>
    <table id="cesspool-data" class="table table-striped">
      <thead>
        <th></th>
        <th>[mm]</th>
        <th>[%]</th>
        <th>Ostatnia aktualizacja</th>
    </thead>
      <tbody>
      <tr>
        <td>Poziom napełniania zbiornika </td>
        <td>{{ cesspool_data.distance_mm }}</td>
        <td>{{ cesspool_data.level_percent }}</td>
        <td>{{ cesspool_data.last_updated }}</td>
      </tr>
      </tbody>
    </table>
  <hr>
  <h2>Ustawienia</h2>
  <table id="settings" class="table table-striped">
    <thead>
        <th>Nazwa</th>
        <th>Aktualna ustawienie</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
      <tr>
        <td>Grzanie właczone</td>
        <td>{{ settings.heating_enabled }}</td>
        <td><form method="get" action="/enable_heating"><input type="submit" name="enable_heating" value="Włącz"></form></td>
        <td><form method="get" action="/disable_heating"><input type="submit" name="disable_heating" value="Wyłącz"></form></td>
      </tr>
      <tr>
        <td>Tryb wakacyjny</td>
        <td>{{ settings.vacation_enabled }}</td>
        <td><form method="get" action="/set_vacation_settings"><input type="submit" name="enable_vacation" value="Włącz"></form></td>
        <td><form method="get" action="/set_standard_settings"><input type="submit" name="disable_vacation" value="Wyłącz"></form></td>
      </tr>
    </tbody>
  </table>
{% endblock %}
