{% extends "base.html" %}

{% block table %}
  <h1>{{ title }}</h1>
  <hr>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Aktualna temperatura</th>
        <th>Odświeżona</th>
        <th>Zadana temperatura</th>
        <th>Grzanie</th>
        <th>Start grzania</th>
      </tr>
    </thead>
    <tbody>
      {% for location in locations %}
        <tr>
          <td>{{ location.name }}</td>
          <td>{{ location.temperature }}</td>
          <td>{{ location.last_update }}</td>
          <td>{{ location.required_temperature }}</td>
          <td>{{ location.heating }}</td>
          <td>{{ location.heating_started }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block plot %}
    <div>
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>

    <script>
      const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: {{ labels | safe }},
          datasets: [{
            label: 'Heating time',
            data: {{ values | safe }},
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>
{% endblock %}